/*----------------------------------form--------------------------------*/
.form {
    border-radius: 5px;
    margin-bottom: 16px;
    position: relative;
    max-width: 900px;
    &__inner {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 14px;
        @include mobile {
            flex-wrap: wrap;
        }
    }
    &__label {
        font-size: 14px;
        display: block;
        width: 100%;
        span {
            display: block;
        }
        &_input {
            width: 100%;
            background: inherit;
            padding: 20px 10px 20px 0px;
            transition: all 0.3s ease 0s;
            color: #889FBD;
            border-bottom: 1px solid var(--color-white);
            font-size: 16px;
            &::placeholder {
                color: #889FBD;
            }
        }
    }
    &__button {
        padding: 24px 50px;
        background-color: var(--color-blue);
        cursor: pointer;
        color: var(--color-white);
        border-radius: 10px;
        font-weight: 800;
        font-size: 14px;
        line-height: 129%;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        transition: all 0.3s;
        @include hover {
            background-color: #144FBF;
            transition: all 0.3s;
        }
    }
    &__link {
        display: inline;
        color: #889FBD;
    }
}

/*----------------------------------form--------------------------------*/