/*----------------------------------global--------------------------------*/
body.lock {
    overflow: hidden;
}
body { 
    font-family: var(--font-family-base); 
    font-size: 1rem;
    font-weight: 400; 
    color: var(--color-black); 
    background: var(--color-white);
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}
.main {
    flex: 1 1 auto;
}
._container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0rem 0.6rem;
}
.section {
    padding: 4rem 0rem;
}
._ibg {
    position: relative;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}
.title {
    @include fluid-text(24, 60);
    line-height: 100%;
    color: var(--color-black);
}
.subtitle {
    @include fluid-text(18, 32);
    line-height: 100%;
    color: var(--color-white);
}
.text {
    @include fluid-text(14, 18);
    color: var(--color-black);
    line-height: 100%;
}
/*----------------------------------global--------------------------------*/