/*----------------------------------global--------------------------------*/
body.lock {
    overflow: hidden;
}
body { 
    font-family: var(--font-family-base); 
    @include fluid-text(14, 16);
    font-weight: 400; 
    color: var(--color-text); 
    background: #F3F3F9;
}
h2 {
    font-weight: 700;
    @include fluid-text(18, 28);
    line-height: 143%;
    letter-spacing: -0.06em;
    font-family: var(--font-family-M);
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}
.main {
    flex: 1 1 auto;
}
._container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0px 10px;
}
section {
    padding: 50px 0px;
    @include mobile {
        padding: 30px 0px;
    }
}
._ibg {
    position: relative;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}
.button {
    padding: 30px;
    text-align: center;
    color: var(--color-white);
    text-transform: uppercase;
    font-weight: 800;
    line-height: 112%;
    letter-spacing: 0.04em;
    border-radius: 10px;
    transition: all 0.3s;
    width: 100%;
    display: block;
}
.button-filled {
    background-color: var(--color-blue);
    box-shadow: inset 0 4px 18px 0 rgba(255, 255, 255, 0.25);
    @include hover {
        background-color: #144FBF;
        transition: all 0.3s;
    }
}
.button-outline {
    border: 1px solid var(--color-blue);
    background-color: var(--color-white);
    color: var(--color-blue);
    @include hover {
        color: var(--color-white);
        background-color: var(--color-blue);
    }
}
.button-white {
    border: 1px solid var(--color-white);
    background-color: var(--color-white);
    color: var(--color-text);
    svg {
        padding-top: 2px;
        margin-left: 5px;
        transition: all 0.3s;
    }
    svg path {
        transition: all 0.3s;
    }
    @include hover {
        color: var(--color-white);
        background-color: var(--color-blue);
        border: 1px solid var(--color-blue);
        svg path {
            stroke: var(--color-white);
            transition: all 0.3s;
        }
        svg {
            transform: translateX(10px);
        }
    }
}
.section-top {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 50px;
    h2 {
        flex-basis: 600px;
    }
    p {
        flex-basis: 557px;
        @include fluid-text(14, 20);
        line-height: 150%;
    }
    @include mobile {
        flex-wrap: wrap;
    }
    &__inner {
        flex-basis: 700px;
        p {
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }
}
.section-color {
    border-radius: var(--border-radius);
    background: linear-gradient(180deg, #000 0%, #1551c3 70.89%, #e0edfd 99.4%), radial-gradient(130.65% 105.21% at 51.56% 7.88%, #000 0%, #1551c3 70%, #e0edfd 99.4%);
    @include mobile {
        border-radius: 16px;
    }
}
/*----------------------------------global--------------------------------*/