/*----------------------------------masonry--------------------------------*/
.masonry {
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    height: 300px;
    &::before,
    &::after {
        content: '';
        flex-basis: 100%;
        order: 2;
        width: 0;
    }
    &__block {
        width: calc( 100% / 3 - 1rem);
        padding: 10px;
        &:nth-child(3n + 1) {
           order: 1;
        }
        &:nth-child(3n + 2) {
            order: 2;
        }
        &:nth-child(3n) {
            order: 3;
        }

        &:nth-child(4n + 1) {
            background-color: #8c4ff6;
        }
        &:nth-child(4n + 2) {
            background-color: rgb(2, 250, 226);
        }
        &:nth-child(4n + 3) {
            background-color: #237ff8;
        }
        &:nth-child(4n) {
            background-color: #ffff00;
        }
    }
}
/*----------------------------------masonry--------------------------------*/