/*-----------------------------------quiz--------------------------------*/

.quiz {
    &__progress {
        margin-bottom: 10px;
    }
    &-inner {
        background: var(--color-black);
        height: 2px;
        display: block;
        transition: all 0.8s ease 0s;
    }
}
.quiz-form {
  &__title {
    margin-bottom: 15px;
  }
  &__radio {
    position: absolute;
    opacity: 0;
    z-index: -1;
    width: 0;
    height: 0;
  }
}
.custom-radio {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #FFFFFF;
    border: 2px solid #7e9bbd;
    border-radius: 50%;
    vertical-align: text-top;
    position: relative;
}
.custom-radio::before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #1280E5;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in;
}
.quiz-form__radio:checked + .custom-radio::before {
    transform: translate(-50%, -50%) scale(1);
}
.quiz-form {
  &__buttons {
    margin-bottom: 10px;
    display: flex;
    gap: 20px;
  }
  &__checkbox {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    z-index: -1;
}
}
.custom-checkbox {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border: 2px solid #1280E5;
    border-radius: 4px;
    vertical-align: sub;
    margin-right: 5px;
}
.custom-checkbox::before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in;
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #1280E5;
}
.quiz-form__checkbox:checked + .custom-checkbox::before {
    transform: translate(-50%, -50%) scale(1);
}

/*-----------------------------------quiz--------------------------------*/