/*----------------------------------select--------------------------------*/
.select {
    background: var(--color-black);
    color: #ADB3BF;
    width: 100%;
    cursor: pointer;
    font-size: 18px;
    line-height: 156%;
    &__option {
        cursor: pointer;
        background-color: var(--color-white);
        border: none;
        border-radius: 5px;
    }
}
.dropdown {
    position: relative;
    &__button {
        position: relative;
        display: block;
        text-align: left;
        background: #F1F1F1;
        border-radius: 5px;
        line-height: 120%;
        font-size: 1rem;
        padding: 16px 32px 16px 16px;
        &::after {
            content: '';
            position: absolute;
            top: 40%;
            right: 16px;
            transform: translateY(-50%);
            width: 2px;
            height: 10px;
            border-radius: 2px;
            background-color: var(--color-black);
            pointer-events: none;
            transform: rotate(45deg);
        }
          &::before {
            content: '';
            position: absolute;
            top: 40%;
            right: 15px;
            transform: translateY(-50%);
            width: 2px;
            height: 10px;
            border-radius: 2px;
            background-color: var(--color-black);
            pointer-events: none;
            transform: rotate(-45deg);
        }
      }
      &__list {
        display: none;
        position: absolute;
        overflow: hidden;
        width: 160px;
        left: 0;
        top: 50px;
        z-index: 1;
        background: #F1F1F1;
        padding: 16px;
        border-radius: 10px;
        &--active {
            display: block;
        }
        &-item {
            border-bottom: 0;
            cursor: pointer;
            &:not(:last-child) {
                margin-bottom: 1rem;
            }
            &:hover {
                color: #00aa4b;
            }
        }
      }
    &__input-hidden {
        display: none;
    }
}
/*----------------------------------select--------------------------------*/