/*---------------------------------------sliders----------------------------*/
.slider {
    overflow: hidden;
    position: relative;
    padding-bottom: 4rem;
    padding: 0px 1.3rem 3rem 1.5rem;
}
  /*---------------------------------------параметры чтобы слайды имели одинаковую высоту----------------------------*/
  .swiper-wrapper {
    display: flex;
    align-items: stretch;
}
  .swiper-slide {
    height: auto;
    transition: all 0.5s ease;
}
  .card {
    height: 100%;
}
  /*---------------------------------------параметры чтобы слайды имели одинаковую высоту----------------------------*/
  .swiper-button-next,
  .swiper-button-prev {
    top: 45%;
}
  .swiper-button-next {
    right: 1rem;
}
  .swiper-button-prev {
    left: 1rem;
}
  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 1.5rem;
    color: var(--color-white);
    border: 1px solid var(--color-white);
    padding: 1rem 1.2rem;
    border-radius: 1rem;
    background-color: var(--color-black);
}
  .swiper-pagination-bullet {
    opacity: 1;
    background-color: var(--color-white);
    transition: All 0.5s ease 0s;
    width: 1rem;
    height: 1rem;
    scale: 0.7;
}
  .swiper-pagination-bullet-active {
    width: 1rem;
    height: 1rem;
    scale: 1.2;
    background-color: var(--color-brown-light);
    background-color: #7B614D;
}

/*---------------------------------------sliders----------------------------*/