/*---------------------------------------tabs----------------------------*/
  .tabs {
    display: flex;
    flex-direction: column;
  }
  .tab-labels {
    background-color: #1E1F25;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px 80px;
    border-radius: 6px;
    margin-bottom: 40px;
  }
  .tab-label {
    padding: 15px 20px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: background-color 0.3s, border-color 0.3s;
    width: 100%;
    text-align: center;
    border-radius: 4px;
  }
  .tab-label:hover {
    background-color: #e2e2e270;
  }
  .tab-content {
    display: none;
    padding: 20px;
  }
  .tab-content .easy__info {
    flex-basis: 1280px;
  }
  .tab-content .easy__image {
    flex-basis: 600px;
  }
  #tab-1:checked ~ .content-1,
  #tab-2:checked ~ .content-2,
  #tab-3:checked ~ .content-3 {
    display: block;
  }
  #tab-1:checked ~ .tab-labels label[for="tab-1"],
  #tab-2:checked ~ .tab-labels label[for="tab-2"],
  #tab-3:checked ~ .tab-labels label[for="tab-3"] {
    background-color: #272A34;
  }
  input[type="radio"] {
    display: none;
  }
/*---------------------------------------tabs----------------------------*/