:root {
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-gray: #F3F3F3;
    --color-blue: #59a6ef;

    --border: 1px solid var(--color-black);
    --border-radius: 16px;
    --border-radius-small: 10px;

    --shadow: 0px 0px 20px 0px var(--color-black);

    --font-family-base: 'Montserrat', Arial, sans-serif;

    --container-width: 1440px;
}