/*----------------------------------Переменные--------------------------------*/
:root {
    --color-black: #000;
    --color-text: #0C0F44;
    --color-white: #FFFFFF;
    --color-gray: #889FBD;
    --color-blue: #0B77FF;
    --border: 1px solid var(--color-black);
    --border-radius: 50px;
    --shadow: 0px 0px 20px 0px var(--color-black);
    --font-family-base: 'Roboto', Arial, sans-serif;
    --font-family-M: 'Micra', Arial, sans-serif;
    --container-width: 1300px;
}
/*----------------------------------Переменные--------------------------------*/