@import 
'normalize',
'mixins',
'fonts',
'media',
'variables';

@import 
'blocks/globals',
'blocks/header',
'blocks/menu',
'blocks/burger',
'blocks/breadcrumbs',
'blocks/main-section',
'blocks/sec-services',
'blocks/card',
'blocks/blockquote',
'blocks/advantages',
'blocks/reviews',
'blocks/sec-texts',
'blocks/articles',
'blocks/map',
'blocks/calculator',
'blocks/tables',
'blocks/contacts',
'blocks/blog',
'blocks/article',
'blocks/sliders',
'blocks/popup',
'blocks/form',
'blocks/radio',
'blocks/similar',
'blocks/checkbox',
'blocks/select',
'blocks/tabs',
'blocks/footer';


