@import 
'normalize',
'mixins',
'fonts',
'media',
'variables';

@import 
'blocks/globals',
'blocks/header',
'blocks/search',
'blocks/menu',
'blocks/burger',
'blocks/breadcrumbs',
'blocks/main-section',
'blocks/card',
'blocks/accordion',
'blocks/blockquote',
'blocks/sliders',
'blocks/popup',
'blocks/form',
'blocks/radio',
'blocks/checkbox',
'blocks/select',
'blocks/tabs',
'blocks/quiz',
'blocks/footer';


