@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

a:focus,
a:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  font-size: 100%;
  line-height: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100dvh;
  min-width: 320px;
  scroll-behavior: smooth;
}

input,
button,
textarea {
  font-family: inherit;
  resize: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  font-size: inherit;
  color: inherit;
  display: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

h1, h2, h3, h4, h5, h6, p, address, cite, span, ul, li {
  font-style: normal;
  font-size: inherit;
  font-weight: inherit;
}

/*-----------------------------------обнуляющие стили--------------------------------*/
/*----------------------------------Шрифты--------------------------------*/
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format(woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/*----------------------------------Шрифты--------------------------------*/
/*----------------------------------Переменные--------------------------------*/
:root {
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-gray: #F3F3F3;
  --color-blue: #59a6ef;
  --border: 1px solid var(--color-black);
  --border-radius: 16px;
  --border-radius-small: 10px;
  --shadow: 0px 0px 20px 0px var(--color-black);
  --font-family-base: "Montserrat", Arial, sans-serif;
  --container-width: 1440px;
}

/*----------------------------------Переменные--------------------------------*/
/*----------------------------------global--------------------------------*/
body.lock {
  overflow: hidden;
}

body {
  font-family: var(--font-family-base);
  font-size: 16px;
  font-weight: 400;
  color: var(--color-black);
  background: var(--color-white);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main {
  flex: 1 1 auto;
}

._container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0px 10px;
}

.section {
  padding: 50px 0px;
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.title {
  font-size: clamp(24px, 4.1666666667vw, 60px);
  line-height: 100%;
  color: var(--color-black);
}

.subtitle {
  font-size: clamp(18px, 2.2222222222vw, 32px);
  line-height: 100%;
  color: var(--color-white);
}

.text {
  font-size: clamp(14px, 1.25vw, 18px);
  color: var(--color-black);
  line-height: 100%;
}

.btn {
  display: inline-block;
  padding: 16px 32px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  text-align: center;
  font-size: clamp(20px, 3.4722222222vw, 50px);
  font-weight: 700;
}

.btn-outline {
  border: 1px solid var(--color-blue);
  background-color: var(--color-white);
}
@media (hover: hover) {
  .btn-outline:hover {
    color: var(--color-white);
    background-color: var(--color-blue);
  }
}
.btn-outline:active {
  background-color: #496cf8;
}

.btn-filled {
  background-color: var(--color-blue);
  border: 1px solid var(--color-blue);
  color: var(--color-white);
  box-shadow: 0 10px 26px 0 rgba(255, 77, 98, 0.2);
}
@media (hover: hover) {
  .btn-filled:hover {
    background-color: var(--collor-white);
  }
}
.btn-filled:active {
  background-color: #496cf8;
}

/*----------------------------------global--------------------------------*/
/*----------------------------------header--------------------------------*/
.header {
  position: fixed;
  width: 100%;
}
.header__bg {
  background-color: var(--color-blue);
  transition: all 0.3s ease 0s;
}
.header__bg .header__content {
  color: var(--color-white);
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 12px 10px;
  max-width: var(--container-width);
  margin: 0 auto;
}
.header__logo {
  z-index: 3;
}
.header__links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  font-size: clamp(12px, 1.1111111111vw, 16px);
}
.header__link {
  transition: All 0.5s ease 0s;
}
@media (hover: hover) {
  .header__link:hover {
    color: var(--color-black);
  }
}

/*----------------------------------header--------------------------------*/
/*----------------------------------search--------------------------------*/
.search__box {
  flex: none;
  z-index: 4;
}
.search__btn {
  background-color: inherit;
  cursor: pointer;
  padding: 8px;
  position: relative;
  z-index: 4;
}
.search__btn svg {
  position: absolute;
  right: 0;
  top: 0;
}
.search__btn._act {
  opacity: 0;
}
.search__label_input {
  border-bottom: 1px solid rgb(17, 53, 167);
  width: 100%;
}
.search__window {
  position: absolute;
  right: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.94);
  padding: 50px 85px;
  border-radius: 15px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  transform: translateY(-100%);
  z-index: 999;
}
.search__label {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--color-blue);
  font-size: 18px;
}
.search__window._act {
  opacity: 1;
  visibility: visible;
  width: 59%;
  transform: translateY(0);
}

/*----------------------------------search--------------------------------*/
/*----------------------------------menu--------------------------------*/
.menu ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}
.menu__link {
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  position: relative;
  font-size: clamp(12px, 0.9722222222vw, 14px);
  transition: All 0.5s ease 0s;
}
@media (hover: hover) {
  .menu__link:hover {
    color: var(--color-black);
  }
}
@media (max-width: 768px) {
  .menu {
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    background: blueviolet;
    padding: 100px 30px 30px 30px;
    transition: All 0.5s ease 0s;
    overflow: auto;
    z-index: 9;
  }
  .menu._active {
    top: 0;
  }
  .menu__list-item:not(:last-child) {
    margin-bottom: 32px;
  }
  .menu ul {
    display: block;
    text-align: center;
    position: relative;
    color: var(--color-white);
  }
  .menu ul li {
    margin-bottom: 20px;
  }
}

/*----------------------------------menu--------------------------------*/
/*----------------------------------burger--------------------------------*/
.burger {
  display: none;
}
@media (max-width: 1024px) {
  .burger {
    width: 36px;
    height: 36px;
    flex: 0 0 auto;
    border-radius: 50%;
    position: relative;
    display: block;
    z-index: 999;
    cursor: pointer;
  }
  .burger__line {
    height: 2px;
    width: 21px;
    position: absolute;
    transition: all 0.3s ease 0s;
    background: #000;
    transform: translate(-50%, -50%);
    border-radius: 1px;
  }
  .burger__line:first-child {
    left: 50%;
    top: 25%;
  }
  .burger__line:nth-child(2) {
    left: 50%;
    top: 50%;
  }
  .burger__line:last-child {
    left: 50%;
    top: 75%;
  }
  .burger._active .burger__line:nth-child(2) {
    opacity: 0;
  }
  .burger._active .burger__line:first-child {
    transform: rotate(-45deg);
    left: 30%;
    top: 50%;
  }
  .burger._active .burger__line:last-child {
    transform: rotate(45deg);
    left: 30%;
    top: 50%;
  }
}

/*----------------------------------burger--------------------------------*/
/*----------------------------------breadcrumbs--------------------------------*/
.breadcrumbs {
  margin-bottom: 50px;
}
.breadcrumbs__list {
  display: flex;
  align-items: center;
  gap: 5px 15px;
  flex-wrap: wrap;
}
.breadcrumbs__item:not(:last-child) {
  position: relative;
  padding-right: 20px;
}
.breadcrumbs__item:not(:last-child)::after {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  top: 5px;
  right: 0;
  border-radius: 1px;
  background: rgb(155, 155, 155);
  transform: rotate(45deg);
}
.breadcrumbs__item {
  font-size: 12px;
  line-height: 15px;
  font-size: 12px;
  color: rgb(155, 155, 155);
}
.breadcrumbs__item_link:hover {
  color: var(--color-blue);
}

/*----------------------------------breadcrumbs--------------------------------*/
/*----------------------------------main-section--------------------------------*/
.main-section {
  margin-top: 150px;
}

/*----------------------------------main-section--------------------------------*/
/*----------------------------------card--------------------------------*/
.card {
  height: 100%;
}

/*----------------------------------card--------------------------------*/
/*----------------------------------accordion--------------------------------*/
.accordion__block {
  margin-bottom: 20px;
}
.accordion__summary {
  list-style: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  padding: 10px;
  position: relative;
  width: 100%;
  background-color: #E0F0FA;
  z-index: 3;
}
.accordion__summary::after, .accordion__summary::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 2px;
  top: 40%;
  right: 0;
  background-color: var(--color-black);
  transition: transform 0.2s ease-out;
}
.accordion__summary::after {
  transform: rotate(-45deg);
  right: 5px;
}
.accordion__summary::before {
  transform: rotate(45deg);
  right: 12px;
}
.accordion__details[open] .accordion__summary::after {
  transform: rotate(45deg);
}
.accordion__details[open] .accordion__summary::before {
  transform: rotate(-45deg);
}
.accordion__content {
  display: grid;
  grid-template-rows: 0fr;
  transition-duration: 0.5s;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #E0F0FA;
  opacity: 0;
  margin-top: -30px;
}
.accordion__content_body {
  overflow: hidden;
}
.accordion__details[open] + .accordion__content {
  grid-template-rows: 1fr;
  opacity: 1;
  margin-top: 0px;
}

/*----------------------------------accordion--------------------------------*/
/*----------------------------------blockquote--------------------------------*/
/*----------------------------------blockquote--------------------------------*/
/*---------------------------------------sliders----------------------------*/
.slider {
  overflow: hidden;
  position: relative;
  padding-bottom: 64px;
  padding: 0px 20px 40px 20px;
}

/*---------------------------------------параметры чтобы слайды имели одинаковую высоту----------------------------*/
.swiper-wrapper {
  display: flex;
  align-items: stretch;
}

.swiper-slide {
  height: auto;
  transition: all 0.5s ease;
}

/*---------------------------------------параметры чтобы слайды имели одинаковую высоту----------------------------*/
.swiper-button-next,
.swiper-button-prev {
  top: 50%;
}

.swiper-button-next {
  right: 16px;
}

.swiper-button-prev {
  left: 16px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px;
  color: var(--color-white);
  border: 1px solid var(--color-white);
  padding: 16px 20px;
  border-radius: 16px;
  background-color: var(--color-black);
}

.swiper-pagination-bullet {
  opacity: 1;
  background-color: var(--color-white);
  transition: All 0.5s ease 0s;
  width: 16px;
  height: 16px;
  scale: 0.7;
}

.swiper-pagination-bullet-active {
  width: 16px;
  height: 16px;
  scale: 1.2;
  background-color: var(--color-brown-light);
  background-color: #7B614D;
}

/*---------------------------------------sliders----------------------------*/
/*----------------------------------popup--------------------------------*/
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
  z-index: 999;
}
.popup__body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup__content {
  max-width: 600px;
  background-color: var(--color-white);
  padding: 30px;
  position: relative;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  transition: all 0.8s ease 0s;
}
.popup.open .popup__content {
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
  visibility: visible;
}
.popup__title {
  color: #000000;
  font-size: 20px;
  line-height: normal;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup__close {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 40px;
  color: red;
  transform: rotate(45deg);
}

/*----------------------------------popup--------------------------------*/
/*----------------------------------form--------------------------------*/
.form {
  max-width: 600px;
  margin: 0 auto;
  color: var(--color-black);
  padding: 20px;
  background-color: var(--color-white);
  border-radius: 5px;
  margin-bottom: 16px;
  position: relative;
}
.form._sending::after {
  opacity: 1;
  visibility: visible;
}
.form__label {
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
}
.form__input, .form__textarea {
  width: 100%;
  background-color: #f1d5f9;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
}
.form__input:focus, .form__textarea:focus {
  box-shadow: 0 0 15px var(--color-blue);
}
.form__input._error, .form__textarea._error {
  border: 1px solid red;
}
.form__error {
  font-size: 16px;
  color: red;
  opacity: 0;
}
.form__error.view {
  opacity: 1;
}
.form__textarea {
  resize: none;
  margin-bottom: 16px;
}
.form__button {
  width: 100%;
  padding: 16px;
  background-color: var(--color-blue);
  cursor: pointer;
  color: var(--color-white);
  border-radius: 5px;
  font-weight: 700;
  font-size: 20px;
}

.file__item {
  position: relative;
}
.file__input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  font-size: 0;
  cursor: pointer;
}
.file__button {
  background-color: var(--color-blue);
  color: var(--color-white);
  display: inline-flex;
  padding: 5px;
  border-radius: 5px;
}
.file__preview {
  display: inline-block;
  max-width: 100px;
  margin-top: 16px;
}
.file__preview img {
  width: 100%;
}

/*----------------------------------form--------------------------------*/
/*----------------------------------radio-buttons--------------------------------*/
.radio-button input[type=radio] {
  display: none;
}

.radio-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  line-height: 156%;
  color: #ADB3BF;
}

.custom-radio {
  width: 12px;
  height: 12px;
  border: 1px solid var(--color-blue);
  border-radius: 2px;
  margin-right: 10px;
  position: relative;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.radio-button:hover .custom-radio {
  border-color: #007BFF;
}

.radio-button input[type=radio]:checked + .custom-radio {
  border-color: #007BFF;
  color: var(--color-white);
}

.radio-button input[type=radio]:checked + .custom-radio::after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: var(--color-blue);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*----------------------------------radio-buttons--------------------------------*/
/*----------------------------------checkbox--------------------------------*/
.checkbox {
  display: inline-block;
}
.checkbox._error .checkbox__label::before {
  border: 1px solid red;
}
.checkbox__input {
  display: none;
}
.checkbox__input:checked + .checkbox__label::after {
  transform: rotate(45deg) scale(1);
}
.checkbox__label {
  font-size: clamp(12px, 0.9722222222vw, 14px);
  line-height: 140%;
  display: inline-flex;
  align-items: center;
  width: 100%;
  position: relative;
  cursor: pointer;
}
.checkbox__label__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
}
.checkbox__label::before {
  content: "";
  align-self: flex-start;
  flex: 0 0 16px;
  height: 16px;
  margin-right: 10px;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  background: #fff;
  position: relative;
}
.checkbox__label::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 12px;
  border: solid violet;
  border-width: 0 2px 2px 0;
  top: 0;
  left: 5px;
  transform: rotate(45deg) scale(0);
  transition: transform 0.2s ease-in-out;
}

/*----------------------------------checkbox--------------------------------*/
/*----------------------------------select--------------------------------*/
.select {
  background: var(--color-black);
  color: #ADB3BF;
  width: 100%;
  cursor: pointer;
  font-size: 18px;
  line-height: 156%;
}
.select__option {
  cursor: pointer;
  background-color: var(--color-white);
  border: none;
  border-radius: 5px;
}

.dropdown {
  position: relative;
}
.dropdown__button {
  position: relative;
  display: block;
  text-align: left;
  background: #F1F1F1;
  border-radius: 5px;
  line-height: 120%;
  font-size: clamp(14px, 1.25vw, 18px);
  padding: 16px 32px 16px 16px;
}
.dropdown__button::after {
  content: "";
  position: absolute;
  top: 40%;
  right: 16px;
  transform: translateY(-50%);
  width: 2px;
  height: 10px;
  border-radius: 2px;
  background-color: var(--color-black);
  pointer-events: none;
  transform: rotate(45deg);
}
.dropdown__button::before {
  content: "";
  position: absolute;
  top: 40%;
  right: 15px;
  transform: translateY(-50%);
  width: 2px;
  height: 10px;
  border-radius: 2px;
  background-color: var(--color-black);
  pointer-events: none;
  transform: rotate(-45deg);
}
.dropdown__list {
  display: none;
  position: absolute;
  overflow: hidden;
  width: 160px;
  left: 0;
  top: 50px;
  z-index: 1;
  background: #F1F1F1;
  padding: 16px;
  border-radius: 10px;
}
.dropdown__list--active {
  display: block;
}
.dropdown__list-item {
  border-bottom: 0;
  cursor: pointer;
}
.dropdown__list-item:not(:last-child) {
  margin-bottom: 1rem;
}
.dropdown__list-item:hover {
  color: #00aa4b;
}
.dropdown__input-hidden {
  display: none;
}

/*----------------------------------select--------------------------------*/
/*---------------------------------------tabs----------------------------*/
.tabs {
  display: flex;
  flex-direction: column;
}

.tab-labels {
  background-color: #1E1F25;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px 80px;
  border-radius: 6px;
  margin-bottom: 40px;
}

.tab-label {
  padding: 15px 20px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: background-color 0.3s, border-color 0.3s;
  width: 100%;
  text-align: center;
  border-radius: 4px;
}

.tab-label:hover {
  background-color: rgba(226, 226, 226, 0.4392156863);
}

.tab-content {
  display: none;
  padding: 20px;
}

.tab-content .easy__info {
  flex-basis: 1280px;
}

.tab-content .easy__image {
  flex-basis: 600px;
}

#tab-1:checked ~ .content-1,
#tab-2:checked ~ .content-2,
#tab-3:checked ~ .content-3 {
  display: block;
}

#tab-1:checked ~ .tab-labels label[for=tab-1],
#tab-2:checked ~ .tab-labels label[for=tab-2],
#tab-3:checked ~ .tab-labels label[for=tab-3] {
  background-color: #272A34;
}

input[type=radio] {
  display: none;
}

/*---------------------------------------tabs----------------------------*/
/*-----------------------------------quiz--------------------------------*/
.quiz__progress {
  margin-bottom: 10px;
}
.quiz-inner {
  background: var(--color-black);
  height: 2px;
  display: block;
  transition: all 0.8s ease 0s;
}

.quiz-form__title {
  margin-bottom: 15px;
}
.quiz-form__radio {
  position: absolute;
  opacity: 0;
  z-index: -1;
  width: 0;
  height: 0;
}

.custom-radio {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #FFFFFF;
  border: 2px solid #7e9bbd;
  border-radius: 50%;
  vertical-align: text-top;
  position: relative;
}

.custom-radio::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #1280E5;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in;
}

.quiz-form__radio:checked + .custom-radio::before {
  transform: translate(-50%, -50%) scale(1);
}

.quiz-form__buttons {
  margin-bottom: 10px;
  display: flex;
  gap: 20px;
}
.quiz-form__checkbox {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  z-index: -1;
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: 2px solid #1280E5;
  border-radius: 4px;
  vertical-align: sub;
  margin-right: 5px;
}

.custom-checkbox::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in;
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #1280E5;
}

.quiz-form__checkbox:checked + .custom-checkbox::before {
  transform: translate(-50%, -50%) scale(1);
}

/*-----------------------------------quiz--------------------------------*/
/*----------------------------------footer--------------------------------*/
.footer {
  padding: 20px 0px;
}
.footer__body {
  gap: 10px;
}

/*----------------------------------footer--------------------------------*//*# sourceMappingURL=styles.css.map */