@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

a:focus,
a:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  font-size: 100%;
  line-height: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100dvh;
  min-width: 320px;
  scroll-behavior: smooth;
}

input,
button,
textarea {
  font-family: inherit;
  resize: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  font-size: inherit;
  color: inherit;
  display: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

h1, h2, h3, h4, h5, h6, p, address, cite, span, ul, li {
  font-style: normal;
  font-size: inherit;
  font-weight: inherit;
}

/*-----------------------------------обнуляющие стили--------------------------------*/
/*----------------------------------Шрифты--------------------------------*/
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format(woff2);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-SemiBold.woff2") format(woff2);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-ExtraBold.woff2") format(woff2);
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Micra";
  src: url("../fonts/Micra-bold.woff2") format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/*----------------------------------Шрифты--------------------------------*/
/*----------------------------------Переменные--------------------------------*/
:root {
  --color-black: #000;
  --color-text: #0C0F44;
  --color-white: #FFFFFF;
  --color-gray: #889FBD;
  --color-blue: #0B77FF;
  --border: 1px solid var(--color-black);
  --border-radius: 50px;
  --shadow: 0px 0px 20px 0px var(--color-black);
  --font-family-base: "Roboto", Arial, sans-serif;
  --font-family-M: "Micra", Arial, sans-serif;
  --container-width: 1300px;
}

/*----------------------------------Переменные--------------------------------*/
/*----------------------------------global--------------------------------*/
body.lock {
  overflow: hidden;
}

body {
  font-family: var(--font-family-base);
  font-size: clamp(14px, 1.1111111111vw, 16px);
  font-weight: 400;
  color: var(--color-text);
  background: #F3F3F9;
}

h2 {
  font-weight: 700;
  font-size: clamp(18px, 1.9444444444vw, 28px);
  line-height: 143%;
  letter-spacing: -0.06em;
  font-family: var(--font-family-M);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main {
  flex: 1 1 auto;
}

._container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0px 10px;
}

section {
  padding: 50px 0px;
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.button {
  padding: 30px;
  text-align: center;
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: 800;
  line-height: 112%;
  letter-spacing: 0.04em;
  border-radius: 10px;
  transition: all 0.3s;
  width: 100%;
  display: block;
}

.button-filled {
  background-color: var(--color-blue);
  box-shadow: inset 0 4px 18px 0 rgba(255, 255, 255, 0.25);
}
@media (hover: hover) {
  .button-filled:hover {
    background-color: #144FBF;
    transition: all 0.3s;
  }
}

.button-outline {
  border: 1px solid var(--color-blue);
  background-color: var(--color-white);
  color: var(--color-blue);
}
@media (hover: hover) {
  .button-outline:hover {
    color: var(--color-white);
    background-color: var(--color-blue);
  }
}

.button-white {
  border: 1px solid var(--color-white);
  background-color: var(--color-white);
  color: var(--color-text);
}
@media (hover: hover) {
  .button-white:hover {
    color: var(--color-white);
    background-color: var(--color-blue);
    border: 1px solid var(--color-blue);
  }
}

.section-top {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 50px;
}
.section-top h2 {
  flex-basis: 600px;
}
.section-top p {
  flex-basis: 557px;
  font-size: clamp(14px, 1.3888888889vw, 20px);
  line-height: 150%;
}
@media (max-width: 768px) {
  .section-top {
    flex-wrap: wrap;
  }
}
.section-top__inner {
  flex-basis: 700px;
}
.section-top__inner p:not(:last-child) {
  margin-bottom: 20px;
}

.section-color {
  border-radius: var(--border-radius);
  background: linear-gradient(180deg, #000 0%, #1551c3 70.89%, #e0edfd 99.4%), radial-gradient(130.65% 105.21% at 51.56% 7.88%, #000 0%, #1551c3 70%, #e0edfd 99.4%);
}
@media (max-width: 768px) {
  .section-color {
    border-radius: 16px;
  }
}

/*----------------------------------global--------------------------------*/
/*----------------------------------main-section--------------------------------*/
.main-section {
  position: relative;
}
.main-section__body {
  position: relative;
  z-index: 2;
  color: var(--color-white);
  padding: 10px 0px;
}
.main-section__body h1 {
  font-weight: 700;
  font-size: clamp(22px, 3.3333333333vw, 48px);
  line-height: 117%;
  letter-spacing: -0.07em;
  margin-bottom: 16px;
  font-family: var(--font-family-M);
}
.main-section__body p {
  font-weight: 500;
  font-size: clamp(18px, 1.6666666667vw, 24px);
  line-height: 125%;
  margin-bottom: 80px;
}
@media (max-width: 768px) {
  .main-section__body p {
    margin-bottom: 40px;
  }
}
.main-section__form {
  margin-bottom: 80px;
}
@media (max-width: 768px) {
  .main-section__form {
    margin-bottom: 40px;
  }
}
.main-section__blocks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 8px;
}
.main-section__block {
  box-shadow: 0 4px 8px 0 rgba(28, 72, 152, 0.36);
  background: var(--color-white);
  padding: 24px;
  border-radius: 16px;
  color: var(--color-text);
}
.main-section__block span {
  font-family: var(--font-family-M);
  font-weight: 700;
  font-size: clamp(28px, 2.2222222222vw, 32px);
  line-height: 125%;
  letter-spacing: -0.09em;
  color: var(--color-blue);
  margin-bottom: 10px;
  display: block;
}
.main-section__block p {
  font-size: clamp(14px, 1.0416666667vw, 15px);
  line-height: 133%;
  margin-bottom: 0px;
}
@media (max-width: 768px) {
  .main-section__block {
    padding: 15px;
  }
}
.main-section__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.main-section__bg img {
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}
@media (max-width: 768px) {
  .main-section__bg img {
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
  }
}

/*----------------------------------main-section--------------------------------*/
/*----------------------------------info--------------------------------*/
.info__team {
  margin-bottom: 50px;
  position: relative;
}
.info__team h3 {
  font-weight: 600;
  font-size: clamp(20px, 1.6666666667vw, 24px);
  line-height: 117%;
  margin-bottom: 24px;
}
.info__video {
  position: relative;
}
.info__video img {
  border-radius: 24px;
}
@media (max-width: 768px) {
  .info__video img {
    border-radius: 16px;
  }
}
.info__video_play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
}
@media (max-width: 768px) {
  .info__video_play {
    width: 60px;
  }
}
@media (hover: hover) {
  .info__video:hover .info__video_play {
    transform: translate(-50%, -50%) scale(1.1);
    transition: all 0.3s;
  }
}

/*----------------------------------info--------------------------------*/
/*----------------------------------start--------------------------------*/
.start {
  margin: 50px 0px;
}
.start .section-top {
  color: var(--color-white);
}
.start__content h3 {
  color: var(--color-white);
  font-weight: 700;
  font-size: clamp(16px, 1.25vw, 18px);
  line-height: 222%;
  letter-spacing: -0.06em;
  font-family: var(--font-family-M);
  margin-bottom: 24px;
}
.start__body {
  display: flex;
  justify-content: space-between;
  gap: 10px 24px;
}
@media (max-width: 768px) {
  .start__body {
    flex-wrap: wrap;
  }
}
.start__stages {
  flex-basis: 700px;
}
.start__stage {
  background-color: var(--color-white);
  padding: 20px 24px;
  border-radius: 14px;
  font-size: clamp(16px, 1.25vw, 18px);
  line-height: 111%;
  font-weight: 500;
}
.start__stage:not(:last-child) {
  margin-bottom: 9px;
}
.start__image {
  flex-basis: 556px;
}
@media (max-width: 768px) {
  .start__image {
    flex-basis: 100%;
  }
}
.start__image img {
  margin-bottom: 14px;
  background: radial-gradient(66.1% 162.62% at 8.45% 97.2%, #fff 0%, #efeffc 100%);
  border-radius: 14px;
  width: 100%;
}

/*----------------------------------start--------------------------------*/
/*----------------------------------projects--------------------------------*/
.projects__content h2 {
  margin-bottom: 34px;
}
.projects__blocks {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 10px;
}
@media (max-width: 768px) {
  .projects__blocks {
    flex-wrap: wrap;
  }
}
.projects__block {
  background-color: var(--color-white);
  padding: 20px 34px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.projects__block span {
  font-weight: 700;
  font-size: clamp(20px, 1.6666666667vw, 24px);
  line-height: 167%;
  letter-spacing: -0.06em;
  color: var(--color-blue);
  font-family: var(--font-family-M);
}
@media (max-width: 768px) {
  .projects__block {
    padding: 20px;
  }
}
.projects__buttons {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 10px;
}
@media (max-width: 768px) {
  .projects__buttons {
    flex-wrap: wrap;
  }
}

.project {
  position: relative;
  padding: 10px;
  border-radius: 12px;
  background-color: var(--color-white);
  margin-bottom: 20px;
}
.project > img {
  margin-top: 66px;
}
@media (max-width: 768px) {
  .project > img {
    margin-bottom: 20px;
  }
}
.project__logo {
  position: absolute;
  top: 30px;
  left: 30px;
}
@media (max-width: 768px) {
  .project__logo {
    top: 20px;
    left: 20px;
    width: 50px;
  }
}
.project__video {
  position: absolute;
  top: 20px;
  right: 20px;
}
.project__video img {
  border-radius: 10px;
}
@media (max-width: 768px) {
  .project__video img {
    width: 100%;
  }
}
.project__video_play {
  position: absolute;
  bottom: 30px;
  left: 30px;
  width: 56px;
}
@media (max-width: 768px) {
  .project__video {
    position: relative;
    margin-bottom: 20px;
    top: 0px;
    right: 0px;
  }
}
.project__info {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 4px;
}
.project__info p {
  background-color: #E0EDFD;
  padding: 10px 5px;
  border-radius: 9px;
  text-align: center;
  width: 100%;
  font-weight: 500;
  font-size: clamp(12px, 0.9722222222vw, 14px);
  line-height: 143%;
  color: var(--color-blue);
}
@media (max-width: 768px) {
  .project__info {
    flex-wrap: wrap;
  }
}

/*----------------------------------projects--------------------------------*/
/*----------------------------------cases --------------------------------*/
.cases__content h2 {
  margin-bottom: 34px;
}
.cases__body {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 10px;
}
@media (max-width: 768px) {
  .cases__body {
    flex-wrap: wrap;
  }
}

.case {
  background-color: var(--color-white);
  border-radius: 16px;
  padding: 24px;
}
.case > span {
  font-weight: 600;
  font-size: 12px;
  line-height: 233%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.case h3 {
  font-weight: 600;
  font-size: clamp(20px, 1.6666666667vw, 24px);
  line-height: 117%;
  margin-bottom: 24px;
}
.case__blocks {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 14px;
  flex-wrap: wrap;
}
.case__block_top {
  background: #F1F7FB;
  padding: 8px 10px 8px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-radius: 9px;
  margin-bottom: 14px;
}
.case__block_top span {
  border-radius: 12px;
  padding: 4px 13px;
  color: var(--color-white);
  background: radial-gradient(86.35% 132.48% at 18.33% 0%, rgb(29, 65, 132) 0%, rgb(11, 119, 255) 52.3999631405%, rgb(169, 206, 255) 99.3999660015%);
}
.case__block_top--mod {
  background: var(--color-blue);
  color: var(--color-white);
}
.case__block:first-child, .case__block:nth-child(2) {
  width: 48%;
}
@media (max-width: 1024px) {
  .case__block:first-child, .case__block:nth-child(2) {
    width: 47%;
  }
}
@media (max-width: 768px) {
  .case {
    padding: 10px;
  }
}

/*----------------------------------cases --------------------------------*/
/*----------------------------------result--------------------------------*/
.result__content h2 {
  margin-bottom: 50px;
  color: var(--color-white);
}
.result__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  gap: 24px;
}
@media (max-width: 768px) {
  .result__items {
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
.result__item {
  position: relative;
}
.result__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(7, 29, 69, 0.56);
  border-radius: 15px;
}
.result__item img {
  width: 100%;
  border-radius: 15px;
}
.result__item p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-white);
  z-index: 2;
  font-weight: 500;
  font-size: clamp(20px, 1.8055555556vw, 26px);
  line-height: 131%;
  text-align: center;
  width: 100%;
  padding: 40px;
}
.result__info {
  background-color: #071D45;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-direction: column;
  padding: 24px;
}
.result__info p {
  font-weight: 500;
  font-size: clamp(20px, 1.8055555556vw, 26px);
  line-height: 131%;
  text-align: center;
  color: var(--color-white);
}

/*----------------------------------result--------------------------------*/
/*----------------------------------stages--------------------------------*/
.stages__content h2 {
  margin-bottom: 50px;
}
.stages__body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
}
@media (max-width: 1024px) {
  .stages__body {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .stages__body {
    display: flex;
    flex-wrap: wrap;
  }
}
.stages__block {
  color: var(--color-white);
  padding: 24px 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  min-height: 190px;
  background: radial-gradient(86.35% 132.48% at 18.33% 0%, rgb(29, 65, 132) 0%, rgb(11, 119, 255) 52.3999631405%, rgb(89, 158, 248) 99.3999660015%);
}
.stages__block h3 {
  font-weight: 500;
  font-size: clamp(24px, 2.2222222222vw, 32px);
  line-height: 110%;
}
.stages__block p {
  font-size: clamp(14px, 1.1111111111vw, 16px);
  line-height: 150%;
}
.stages__block:nth-child(even) {
  grid-column: 2/4;
}
@media (max-width: 768px) {
  .stages__block {
    width: 100%;
    min-height: 150px;
    padding: 20px;
  }
}
.stages__block--mod {
  background: inherit;
}
@media (max-width: 768px) {
  .stages__block--mod {
    display: none;
  }
}

/*----------------------------------stages--------------------------------*/
/*----------------------------------stages--------------------------------*/
.reviews__content h2 {
  margin-bottom: 34px;
}
.reviews__body {
  position: relative;
}
.reviews__block {
  position: relative;
}
.reviews__block::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(7, 29, 69, 0.56);
  border-radius: 15px;
}
.reviews__block > img {
  width: 100%;
  border-radius: 15px;
}
.reviews__block_info {
  position: absolute;
  z-index: 2;
  bottom: 35px;
  left: 35px;
  color: var(--color-white);
  font-weight: 600;
  font-size: clamp(18px, 1.3888888889vw, 20px);
  line-height: 140%;
  letter-spacing: -0.02em;
  padding-right: 35px;
}
.reviews__block_info img {
  margin-bottom: 22px;
}
.reviews__buttons {
  padding-top: 20px;
}

/*----------------------------------stages--------------------------------*/
/*----------------------------------card--------------------------------*/
.card {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px 24px;
  padding: 30px 34px;
  background-color: var(--collor-white);
  box-shadow: 0 4px 8px 0 #e1e8ec;
  border-radius: 16px;
}
.card h4 {
  font-weight: 600;
  font-size: clamp(18px, 1.3888888889vw, 20px);
  line-height: 140%;
  letter-spacing: -0.02em;
  color: var(--collor-black);
  margin-bottom: 5px;
}
.card p {
  color: #7189A7;
}
@media (max-width: 768px) {
  .card {
    padding: 10px 15px;
    pad: 10px;
  }
}

/*----------------------------------card--------------------------------*/
/*----------------------------------blockquote--------------------------------*/
/*----------------------------------blockquote--------------------------------*/
/*---------------------------------------sliders----------------------------*/
.project-slider,
.reviews-slider {
  overflow: hidden;
}

.slider__buttons {
  position: absolute;
  top: 10px;
  right: 0;
}
@media (max-width: 1024px) {
  .slider__buttons {
    position: static;
    display: flex;
    justify-content: center;
    gap: 30px;
  }
}

.team-slider {
  margin-left: -130px;
}
@media (max-width: 1024px) {
  .team-slider {
    padding-bottom: 40px;
  }
}
@media (max-width: 768px) {
  .team-slider {
    margin-left: 0px;
  }
}

/*---------------------------------------параметры чтобы слайды имели одинаковую высоту----------------------------*/
.swiper-wrapper {
  display: flex;
  align-items: stretch;
}

.swiper-slide {
  height: auto;
  transition: all 0.5s ease;
}

/*---------------------------------------параметры чтобы слайды имели одинаковую высоту----------------------------*/
.info__team .swiper-button-prev {
  left: -90px;
}

@media (max-width: 1024px) {
  .info__team .swiper-button-prev,
  .info__team .swiper-button-next {
    position: static;
  }
}

.reviews__body .swiper-button-prev::after,
.reviews__body .swiper-button-next::after,
.project-slider__wrap .swiper-button-prev::after,
.project-slider__wrap .swiper-button-next::after,
.info__team .swiper-button-next::after,
.info__team .swiper-button-prev::after {
  color: var(--color-white);
  padding: 10px 15px;
  border-radius: 12px;
  background-color: var(--color-blue);
  width: 40px;
  height: 40px;
  font-size: 20px;
}

.reviews__body .swiper-button-prev::after,
.reviews__body .swiper-button-next::after {
  color: var(--color-blue);
  background-color: var(--color-white);
}

.info__team .swiper-button-prev::after {
  background-color: var(--color-white);
  color: var(--color-blue);
}

.project-slider__wrap {
  position: relative;
}

@media (max-width: 768px) {
  .reviews__body .swiper-button-prev,
  .reviews__body .swiper-button-next,
  .project-slider__wrap .swiper-button-prev,
  .project-slider__wrap .swiper-button-next {
    position: static;
  }
}

.project-slider__wrap .swiper-button-prev,
.reviews__body .swiper-button-prev {
  left: -10px;
}
@media (max-width: 768px) {
  .project-slider__wrap .swiper-button-prev,
  .reviews__body .swiper-button-prev {
    left: 10px;
  }
}

.project-slider__wrap .swiper-button-next,
.reviews__body .swiper-button-next {
  right: -10px;
}
@media (max-width: 768px) {
  .project-slider__wrap .swiper-button-next,
  .reviews__body .swiper-button-next {
    right: 10px;
  }
}

@media (max-width: 768px) {
  .project-slider__buttons,
  .reviews__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 20px 0px;
  }
}

/*---------------------------------------sliders----------------------------*/
/*----------------------------------popup--------------------------------*/
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
  z-index: 999;
}
.popup__body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup__content {
  max-width: 600px;
  background-color: var(--color-white);
  padding: 30px;
  position: relative;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  transition: all 0.8s ease 0s;
}
.popup.open .popup__content {
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
  visibility: visible;
}
.popup__title {
  color: #000000;
  font-size: 20px;
  line-height: normal;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup__close {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 40px;
  color: red;
  transform: rotate(45deg);
}

/*----------------------------------popup--------------------------------*/
/*----------------------------------form--------------------------------*/
.form {
  border-radius: 5px;
  margin-bottom: 16px;
  position: relative;
  max-width: 900px;
}
.form__inner {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 14px;
}
@media (max-width: 768px) {
  .form__inner {
    flex-wrap: wrap;
  }
}
.form__label {
  font-size: 14px;
  display: block;
  width: 100%;
}
.form__label span {
  display: block;
}
.form__label_input {
  width: 100%;
  background: inherit;
  padding: 20px 10px 20px 0px;
  transition: all 0.3s ease 0s;
  color: #889FBD;
  border-bottom: 1px solid var(--color-white);
  font-size: 16px;
}
.form__label_input::-moz-placeholder {
  color: #889FBD;
}
.form__label_input::placeholder {
  color: #889FBD;
}
.form__button {
  padding: 24px 50px;
  background-color: var(--color-blue);
  cursor: pointer;
  color: var(--color-white);
  border-radius: 10px;
  font-weight: 800;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  transition: all 0.3s;
}
@media (hover: hover) {
  .form__button:hover {
    background-color: #144FBF;
    transition: all 0.3s;
  }
}
.form__link {
  display: inline;
  color: #889FBD;
}

/*----------------------------------form--------------------------------*/
/*----------------------------------checkbox--------------------------------*/
.checkbox__input {
  display: none;
}
.checkbox__input:checked + .checkbox__label::after {
  transform: rotate(45deg) scale(1);
}
.checkbox__label {
  font-size: 12px;
  line-height: 117%;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.checkbox__label::before {
  content: "";
  align-self: flex-start;
  flex: 0 0 12px;
  height: 12px;
  margin-right: 8px;
  border: 1px solid var(--color-gray);
  border-radius: 3px;
  position: relative;
}
.checkbox__label::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 6px;
  border: solid var(--color-gray);
  border-width: 0 2px 2px 0;
  top: 2px;
  left: 5px;
  transform: rotate(45deg) scale(0);
  transition: transform 0.2s ease-in-out;
}
.checkbox__text {
  display: inline;
  color: #889FBD;
}

/*----------------------------------checkbox--------------------------------*/
/*----------------------------------select--------------------------------*/
.select {
  background: var(--color-black);
  color: #ADB3BF;
  width: 100%;
  cursor: pointer;
  font-size: 18px;
  line-height: 156%;
}
.select__option {
  cursor: pointer;
  background-color: var(--color-white);
  border: none;
  border-radius: 5px;
}

.dropdown {
  position: relative;
}
.dropdown__button {
  position: relative;
  display: block;
  text-align: left;
  background: #F1F1F1;
  border-radius: 5px;
  line-height: 120%;
  font-size: clamp(14px, 1.25vw, 18px);
  padding: 16px 32px 16px 16px;
}
.dropdown__button::after {
  content: "";
  position: absolute;
  top: 40%;
  right: 16px;
  transform: translateY(-50%);
  width: 2px;
  height: 10px;
  border-radius: 2px;
  background-color: var(--color-black);
  pointer-events: none;
  transform: rotate(45deg);
}
.dropdown__button::before {
  content: "";
  position: absolute;
  top: 40%;
  right: 15px;
  transform: translateY(-50%);
  width: 2px;
  height: 10px;
  border-radius: 2px;
  background-color: var(--color-black);
  pointer-events: none;
  transform: rotate(-45deg);
}
.dropdown__list {
  display: none;
  position: absolute;
  overflow: hidden;
  width: 160px;
  left: 0;
  top: 50px;
  z-index: 1;
  background: #F1F1F1;
  padding: 16px;
  border-radius: 10px;
}
.dropdown__list--active {
  display: block;
}
.dropdown__list-item {
  border-bottom: 0;
  cursor: pointer;
}
.dropdown__list-item:not(:last-child) {
  margin-bottom: 1rem;
}
.dropdown__list-item:hover {
  color: #00aa4b;
}
.dropdown__input-hidden {
  display: none;
}

/*----------------------------------select--------------------------------*/
/*---------------------------------------tabs----------------------------*/
.tabs {
  display: flex;
  flex-direction: column;
}

.tab-labels {
  background-color: #1E1F25;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px 80px;
  border-radius: 6px;
  margin-bottom: 40px;
}

.tab-label {
  padding: 15px 20px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: background-color 0.3s, border-color 0.3s;
  width: 100%;
  text-align: center;
  border-radius: 4px;
}

.tab-label:hover {
  background-color: rgba(226, 226, 226, 0.4392156863);
}

.tab-content {
  display: none;
  padding: 20px;
}

.tab-content .easy__info {
  flex-basis: 1280px;
}

.tab-content .easy__image {
  flex-basis: 600px;
}

#tab-1:checked ~ .content-1,
#tab-2:checked ~ .content-2,
#tab-3:checked ~ .content-3 {
  display: block;
}

#tab-1:checked ~ .tab-labels label[for=tab-1],
#tab-2:checked ~ .tab-labels label[for=tab-2],
#tab-3:checked ~ .tab-labels label[for=tab-3] {
  background-color: #272A34;
}

input[type=radio] {
  display: none;
}

/*---------------------------------------tabs----------------------------*//*# sourceMappingURL=styles.css.map */